*, *::before, *::after { 
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --hue-wrong: 0; 
    --hue-correct: 145;
}

h1 {
    padding: 10px;
    text-align: center;
}

body {
    padding: 120px;
    margin: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.timer {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#instructions {
    font-size: 18px;
    text-align: justify;
}

#initials {
    border: 1px solid gray;
    background-color: rgb(255, 210, 95);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 20px 0px;
}

.btn {
    border: 2px solid gray;
    background-color: green;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    font-size: 20px;
}

.btn:hover {
    border-color: blue;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}